.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #dbdbdb;
  padding: 10px;
  gap: 20px;
  border-radius: 4px;
  transition: all .4s;
}
.list-item:hover {
  border-color: #999292;
}
.item-button {
  position: relative;
  height: 16px;
  width: 16px;
  cursor: pointer;
  border: 0;
  font-size: 0px;
  overflow: hidden;
  background: url('../../../public/svg/close.svg') no-repeat;
}
.item-title {
  font-size: 16px;
  margin: 0;
  font-family: 'Rubik';
  font-weight: 400;
}