@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../../../public/fonts/Rubik-Light.ttf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../../../public/fonts/Rubik-Regular.ttf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../../../public/fonts/Rubik-Bold.ttf') format('opentype');
  font-weight: 700;
}

.app-section {
  display: flex;
  gap: 10px;
}
.map-container {
  width: 100%;
}
.content-container {
  width: 100%;
  max-width: 400px;
  min-width: 360px;
  padding:0 10px;
}

@media screen and (max-width: 1024px) {
  .app-section {
    flex-direction: column;
    padding-left: 0px;
  }
  .content-container {
    max-width: unset;  
  }
}